.notification-box {
    width: 300px;
    background-color: red;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}